body{
    background-color: beige;
}
header{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}
.card img{
    height: 200px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}